.hero-bg {
    background-image: url(https://res.cloudinary.com/dkx0y97jo/image/upload/v1748867933/download_pv2jgg.jpg);
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size: cover;
}