/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import "tailwindcss";

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

:root {
  --font-primary: 'Quicksand', sans-serif;
  --font-heading: 'Quicksand', sans-serif;
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: var(--font-primary);
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
  font-weight: 700;
}

.bgColor {
  background-color: #f5f5f3;
  color: #2c2c2c;
}

.text-priamry {
  color: #2c2c2c2c;
}

.text-navbar {
  position: relative;
  display: inline-block;
  font-weight: 800;
  /* font-weight: 600; */
  transition: color 0.3s ease;
}

.text-navbar::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  width: 0%;
  height: 2px;
  background-color: #E34225;
  transition: width 0.3s ease;
}

.text-navbar:hover {
  color: #E34225;
  cursor: pointer;
}

.text-navbar:hover::after {
  width: 100%;
}

.linear-button {
  background: linear-gradient(90deg, #e34225 0%, #ff9853 100%);
  padding: 20px;
  cursor: pointer;
}

.linear-button:hover {
  opacity: 80%;
}

.linear-button:active {
  opacity: 90%;
  box-shadow: 0 5px 10px -2px rgba(170, 60, 36, 0.8);
}


